* {
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: rgb(5,80,124); /* Fallback for browsers that do not support CSS gradients */
    background: linear-gradient(45deg, rgba(5, 80, 124, 1) 0%, rgba(29, 168, 173, 1) 30%, rgba(10, 111, 80, 1) 60%, rgba(29, 168, 173, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body {
    max-width: 420px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items:flex-start
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    height: 400px;
    overflow: auto;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    color: #ebebeb;
    font-weight: 700;
    font-size: 48px;
    text-shadow: 3px 3px 0 #05507C;
    margin: 0;
}

.slogan {
    color: whitesmoke;
    font-weight: 100;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 10px;
}

.product-container {
    color: #A9FDC6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    height: 90%;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.info-section {
    margin-left: 8px;
}

.button-section {
    margin-left: 4px;
    padding: 5px;
}

.product-thumbnail {
    height: 60px;
    width: 60px;
    margin: 5px;
}

.category-chip {
    display: inline-block;
    padding: 3px 6px;
    background-color: none;
    border-radius: 50px;
    font-size: 14px;
    color: #A9FDC6;
    border: 1px solid #A9FDC6;
    margin: 4px;
}

.product-title,
.product-specs,
.product-price { 
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
}

.product-specs {
    color:#05507C;
    font-style: italic;
    line-height: 18px;
}

/* .product-price {
    
} */

#add-product-btn {
    font-size: 24px;
}

.inc-dec {
    cursor: pointer;
}

.inc-dec:hover {
    transform: scale(1.2);
    transition: all 0.15s;
}

.inc-dec:active {
    transform: scale(0.9);
}

.glassmorphic-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
}

.glassmorphic-card:hover {
    transform: scale(1.05);
    transition: all 0.2s;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* LEASE MODAL STYLES */
#lease-dialog {
    width: 400px;
    height: 600px;
    color: #05507c;
    background: rgba(169, 253, 198, 0.4);
    border: 1px solid rgba(5, 80, 124, 0.5);
    border-radius: 10px;
    padding: 20px;
}

dialog::backdrop {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

h4 {
    margin-bottom: 0;
}

.lease-dialog-main {
    padding: 10px 30px;
}

.modal-title, 
.product-name {
    text-align: center;
    margin: 5px 0 8px 0;
}

.visit-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#product-link-icon {
    align-self: center;
}

.product-link:link {
    color: #05507C;
}

.product-link:visited {
    color: #05507C;
}

.row-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#close-lease-dialog {
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.coupon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#coupon-code-input {
    background: rgba(5, 80, 124,0.1);
    border: 1px solid #05507C;
    border-radius: 5px;
    width: 90px;
    padding: 5px;
}

#coupon-code-input,
#coupon-code-input::placeholder {
    color:#05507C;
    font-weight: bold;
}

#apply-coupon-btn {
    font-size: 20px;
}

.warning-message {
    color: rgb(255, 89, 0);
}

.successful-message {
    color: rgb(36, 85, 209);
}

.product-name,
.curent-price-text,
.selected-term-text,
.installments-text,
#coupon-validation-message {
    margin: 8px 0;
}

#term-controls {
    justify-content: space-between;
}

.installments-text {
    margin-top: 0;
    margin-bottom: 8px;
    color: chocolate;
    font-style: italic;
}

#term-buttons {
    display: flex;
    gap: 12px;
    margin-right: 40px;
}

#increase-term-btn,
#decrease-term-btn {
    font-size: 24px;
}

summary {
    cursor: pointer;
}

.costs-section {
    margin-top: 10px;
}